{% load static %}
<!--section row -->
<div class="row">
        <section class="call-to-action">
            <div class="row">
                <div class="col-md-4">
                    <div class="action-serve">
                        <h3>We Serve to Meet</h3>
                        <h4>Client Feedbacks</h4>
                        <p>Would like to share what our customers want to say about our services. Would love to hear from more of you so that we can fulfill your needs better. </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="action-testimonial">
                        <div class="item">
                            <div class="client-thumb pull-left">
                                <img src="{% static 'img/client1.jpg' %}" alt="">
                            </div>
                            <div class="client-comments pull-right">
                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <span class="name">Joe Elizzabeth</span>
                                <span class="designation">CEO, Steeltech Inc.</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-thumb pull-left">
                                <img src="{% static 'img/client1.jpg' %}" alt="">
                            </div>
                            <div class="client-comments pull-right">
                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <span class="name">Joe Elizzabeth</span>
                                <span class="designation">CEO, Steeltech Inc.</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-thumb pull-left">
                                <img src="{% static 'img/client1.jpg' %}" alt="">
                            </div>
                            <div class="client-comments pull-right">
                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <span class="name">Joe Elizzabeth</span>
                                <span class="designation">CEO, Steeltech Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .call-to-action -->
    </div>
    </div>
</div>
    <!-- section row -->
<!-- .our-clients-section-->
<div class="row">
    <div class="our-clients-section">
        <div class="col-md-12">
            <div class="our-clients-carousel">
                <div id="our-client-thumb">
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service3.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service4.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service5.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service4.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service5.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service3.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service5.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="{% static 'img/service/service3.jpg' %}" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="customNavigation client-logo-navigation">
                    <a class="next"><i class="fa fa-angle-right"></i></a>
                    <a class="prev"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>								
        </div>								
    </div>
<!-- .row -->
<div class="row">
<section class="footer-section">
    <div class="footer-top">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="about" style="padding-left: 10px">
                    <h4>About Us</h4>
                    <img src="{% static 'img/service/single-thumb.jpg' %}" alt="">
                    <p>By taking over a sick plant, Atlan steels strives to manufacture high quality steel...</p>
                    <a href="{% url 'about' %}">Read More</a>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
                <div class="recent-news list-group">
                    <h4>Latest News</h4>
                    <ul>
                        <li>
                            <a href="#" title="">Consectetuer adipiscing aenean commodo ligula eget dolor.</a>
                            <span class="date">February 9, 2016
                            </span>								
                        </li>
                        <li>
                            <a href="#" title="">Consectetuer adipiscing aenean commodo ligula eget dolor.</a>
                            <span class="date">February 9, 2016
                            </span>								
                        </li>
                        <li>
                            <a href="#" title="">Consectetuer adipiscing aenean commodo ligula eget dolor.</a>
                            <span class="date">February 9, 2016
                            </span>								
                        </li>
                        
                    </ul>
                </div>
            </div> -->
            <div class="col-md-3 col-sm-6">
                <div class="services">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="{% url 'Slabs' %}">MS Slabs</a></li>
                        <li><a href="{% url 'Plates' %}">HR MS Plates</a></li>
                        <li><a href="{% url 'Coils' %}">HR MS Coils</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="get-in-Touch">
                    <h4>Get in Touch</h4>
                    <address>
                         <i class="fa fa-map-marker"></i>
                         Pithampur Industrial Area, <br>
                         Pithampur, Madhya Pradesh.
                    </address>
                    <address>
                         <i class="fa fa-phone"></i>
                         +919914407470<br>Mon-Fri, 9am until 6pm 
                    </address>
                    <address>
                         <i class="fa fa-envelope-o"></i>
                         <a href="mailto:surbhi_suri@hotmail.com">surbhi_suri@hotmail.com</a>
                        <br>
                        We reply within 24 hours
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End .footer-top-->
    <footer class="footer">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <p> 
                    &copy; Metal 2015. All Rights Reserved.</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-social">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href=""><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i>Linkedin</a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i>Google+</a></li>
                    </ul>
                </div>
            </div>
    </footer>
</section>
<!-- .footer-section -->