{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="inner-content">
        <div class="company">
            <div class="company-description pull-left">
                <h2>Company</h2>
                <h3>About Atlan Steel</h3>
                <p>By taking over a sick plant, Atlan steels strives to manufacture high quality steel by first utilizing the plants full capacity and scaling its production levels through mild steel and then eventually directing majority of its resources into high margin stainless steel.
                </p>
                <p>
                Restarting an existing sick unit, installing a new 15MT Induction Furnace (backward integration into SMS) and upgrading/revamping the existing Hot Strip/Plate Rolling Mill (1.5mtr width). In addition the Madhya Pradesh govt. (MPSIDC) has introduced benefits for new/restarting units. 
                A rebate of Rs 1.43 will be introduced per unit of electricity consumed which would total to approximately Rs 900 of benefit per MT based on 3400 MT of slab ingots production per month, and hence saving Atlan Steels upto Rs 30,00,000 per month.</p>
            </div>
            <div class="company-thumb pull-right">
                <img src="{% static 'img/service/service3.jpg' %}" alt="">
            </div>
        </div>  
        <div class="company-CEO">
            <div class="chairmen-thumb pull-left">
                <img src="{% static 'img/chairman.jpg' %}" alt="">
            </div>								
            <div class="chairmen-description pull-right">
                <h3>Entrepreneurs Background</h3>
                <p>The sponsors constitute 2 entrepreneurs who have come together to build a large sustainable enterprise. 
                </p>
                <p>
                Each has unique skillsets whose synergy creates a window for us to exploit a niche in a market dominated by the “Big Players”. The first sponsor is Mr. Vipul Swarup, studied in Doon School,      College, and LBS 2010. With a family background in      , he became an entrepreneur after graduation and working abroad (UK and US). His core strengths include Manufacturing and Projects, along with innovation in technology. </p>
                <p>
                    The second sponsor is Ms Surbhi Suri, studied in Carmel Convent Chandigarh, after which she graduated from St Andrews University, Scotland in 2017. Having worked in London at a marketing and advertising firm for a year she returned to India in 2018 and now along with Mr Vipul Swarup wishes to take this project forward. Her core strengths include Marketing, Finance, and people skills.</p>
                <!-- <div class="signature">
                    <img src="img/signature.png" alt="">
                    <h4>Eric Blodan</h4>
                    <p>Chairman, Steellex Inc.</p>
                </div> -->
            </div>
        </div>
    </div>
        <div class="row" style="margin-right : -15px;
        margin-left  : 20px">
            <div class="directors">
                <h3>Board of Directors</h3>
                    <div class="director-list">
                <div class="col-md-3 col-sm-3">
                        <img src="{% static 'img/director1.jpg' %}" alt="">
                        <h4>Mr. Yeshwant Singh Bisht </h4>
                        <h5>Chief Executive Officer of the company,
                            Atlan Steel Pvt. Ltd.
                        </h5>
                    </div>
                </div>
                <div class="director-list">
                <div class="col-md-3 col-sm-3">
                        <img src="{% static 'img/director2.jpg' %}" alt="">
                        <h4>Mr. Ashok Kathpal</h4>
                        <h5> 
                        ED and also the Chief Technical Officer
                        </h5>
                    </div>
                </div>
                    <div class="director-list">
                <div class="col-md-3 col-sm-3">
                        <img src="{% static 'img/director3.jpg' %}" alt="">
                        <h4>Mr. Vipul Swarup</h4>
                        <h5>First Sponsor </h5>
                    </div>
                </div>
                    <div class="director-list">
                <div class="col-md-3 col-sm-3">
                        <img src="{% static 'img/client1.jpg' %}" alt="">
                        <h4>Ms. Surbhi Suri</h4>
                        <h5>Second Sponsor</h5>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!--inner content -->
{% endblock %}