{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <section class="banner-section">
        <div id="mainslider" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#mainslider" data-slide-to="0" class="active"></li>
                <li data-target="#mainslider" data-slide-to="1"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                      <img src="{% static 'img/angle.jpg' %}" alt="slide1">
                    <div class="banner-caption pull-right">
                        <h1>Cost effective and long lasting.
                            Premium Quality. Guaranteed.
                        </h1>
                    </div>
                </div>
            
                <div class="item">
                      <img src="{% static 'img/pipe.jpg' %}" alt="slide2">
                      <div class="banner-caption pull-right">
                        <h1>Committed To Quality. 
                            Committed To You.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- .banner-section-->
<!-- </div>
<div class="row">
    <section class="service-section">
        <div class="service-items">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="service-list">
                        <img src="img/service1.jpg" alt="">
                        <div class="service-caption">
                            <div class="service-left">
                                <h2>Ducting</h2>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            </div>
                            <div class="service-right">
                                <a href="duct.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-list">
                        <img src="img/service2.jpg" alt="">
                        <div class="service-caption">
                            <div class="service-left">
                                <h2>Stacks</h2>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            </div>
                            <div class="service-right">
                                <a href="stacks"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="service-list">
                        <img src="img/service3.jpg" alt="">
                        <div class="service-caption">
                            <div class="service-left">
                                <h2>Tanks</h2>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            </div>
                            <div class="service-right">
                                <a href="tanks.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="service-list">
                        <img src="img/service4.jpg" alt="">
                        <div class="service-caption">
                            <div class="service-left">
                                <h2>Structural</h2>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            </div>
                            <div class="service-right">
                                <a href="beam.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <banner-section-->
<!-- </div> -->
<!-- section row --> 
</div>
<div class="row">
    <section class="about-section">
        <div class="col-md-12">
            <div class="about-us-carousel">
                <div class="about-carousel-item">
                    <div class="item">
                        <div class="about-us">
                            <h3>Quality</h3>
                            <p>We at Atlan Steel do not compromise on quality of the product.
                            We believe that 
                            "our product quality should advertise about us, not we". 
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-us">
                            <h3>Experience</h3>
                            <p>
                                One should never regret in their decisions in life. Thus, associate
                                with us and celebrate your decision for ever. We truely follow the rule: 
                                CARE is the best marketing strategy.  
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-us">
                            <h3>Reliable</h3>
                            <p> We are reliable. We ignore the circumstances to keep our promises. 
                                Our business rule is "What we said, you will get". 
                            </p>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="about-us">
                            <h3>Quality</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-us">
                            <h3>Reliable</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-us">
                            <h3>Experience</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-us">
                            <h3>Reliable</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                            </p>
                        </div>
                    </div> -->
                </div>
                <div class="customNavigation clients-navigation">
                    <a class="next"><i class="fa fa-angle-right"></i></a>
                    <a class="prev"><i class="fa fa-angle-left"></i></a>
                </div>			                        
            </div>
        </div>
    </section>
    <!-- .about-section --> 
</div>
<!-- section row --> 

<div class="row">
    <section class="products-section clearfix">
        <div class="col-md-3">
            <div class="product-item">
                <i class="flaticon-tank"></i>
                
                    <h4>MS Slabs</h4>
                    <p>MS Slabs (like MS slab ingots) can either be sold directly to other businesses/factories </p>
                    <a class="read-more" href="{% url 'Slabs' %}">Read More</a>
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-item">
                <i class="flaticon-control-system"></i>
                
                    <h4>HR MS Plates</h4>
                    <p>HR MS Plates are used in various fields </p>
                    <a class="read-more" href="{% url 'Plates' %}">Read More</a>
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-item">
                <i class="flaticon-industrial-robot-4"></i>
                
                    <h4>HR MS coils</h4>
                    <p>HR MS coils are even flatter/thinner than plates and barring the above uses it can be used in more specified areas </p>
                    <a class="read-more" href="{% url 'Coils' %}">Read More</a>
                
            </div>	
        </div>

    </section>
    <!-- .products-section-->	
</div>
    
<div class="row">
    <section class="section-welcome" style="height: 460px">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="welcome">
                    <img src="{% static 'img/service/service1.jpg' %}" alt="">
                    <div class="welcome-details">
                        <h3>Welcome to Atlan Steel</h3>
                        <p>Atlan steels strives to manufacture high
                              quality steel by first utilizing the plants full capacity and scaling its production
                              levels through mild steel and then eventually directing majority of its resources
                              into high margin stainless steel.</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="hiring-tab">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation"><a href="#magazine" aria-controls="magazine" role="tab" data-toggle="tab">Company Magazine</a>
                    </li>
                    <li role="presentation"><a href="#corporate-values" aria-controls="corporate-values" role="tab" data-toggle="tab">Corporate Values</a>
                    </li>
                    <li role="presentation"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Company Mission/ Vision</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="Profile">
                            <div class="tab-content-details">
                                <span>Great opportunities</span>
                                <h4>We are Hiring</h4>
                                <img src="img/profile.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="magazine">
                            <div class="tab-content-details">
                                <span>Our activities</span>
                                <h4>Company Magazine</h4>
                                <img src="img/profile.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. consectetur adipisicing elit.</p>
                            </div>										    	
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="corporate-values">
                            <div class="tab-content-details">
                                <span>Our market value</span>
                                <h4>Corporate Values</h4>
                                <img src="img/profile.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. consectetur adipisicing elit.</p>
                            </div>										    		
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="mission">
                            <div class="tab-content-details">
                                <span>Great opportunities</span>
                                <h4>Company Mission/ Vision</h4>
                                <img src="img/profile.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>    
    </section>
    <!-- .section-welcome -->  
{% endblock %}  